<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="de.frechmatz.javasoundserver" level="DEBUG"/>
        <!--
        <Logger name="de.frechmatz.javasoundserver.server.ProtocolHandler" level="INFO"/>
        <Logger name="de.frechmatz.javasoundserver.logging.LoggingMessageReader" level="INFO"/>
        <Logger name="de.frechmatz.javasoundserver.logging.LoggingMessageWriter" level="INFO"/>
        -->
    </Loggers>
</Configuration>